header, nav, footer{
  width: 100%;
}

div.content{
  border-style: double;
  border-width: 4px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

li, p{
  font-family: "Courier New";
  font-size: 12pt;
  letter-spacing: 3px;
}

ul{
  list-style: none;
  text-align: center;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

li{
  margin: 10px;
  text-transform: uppercase;
  display: inline-block;
}

img{
  display: block;
  margin: auto;
  padding: 20px;
}

div.menu_items{
  width: 700px;
  height: 60px;
  margin: auto;
}

div.footer{
  text-align: center;
  width: 600px;
  margin: auto;
}

img.keys{
  width: 700px;
}

li:hover{
  color: #E59797;
}
