.article, .figure_gallery, .footer_article, .carousel-item img{
    width: 100%;
}

.article, .box, .footer_map, .footer, .profile_picture{
  margin: 20px;
}

.article, .footer_article{
  height: 100%;
  padding: 40px;
}

body{
  background-color: #FCDFA6;
}

a{
  cursor: pointer;
}

.carousel-item img{
  height: 450px;
  display: block;
  object-fit: contain;
}

.navbar-dark{
  background-color: #B57F50;
}

.article{
  text-align: center;
  font-size: 14pt;
}

.box, .profile_picture{
  height: 350px;
  background-position: center;
}

.footer{
  background-color: #533E2D;
  color: white;
}

.footer_article{
  text-align: right;
}

.profile_picture{
  object-fit: contain;
}
